@import url('https://fonts.googleapis.com/css2?family=Notable&family=Noto+Sans&display=swap');

/* Game */
.tile_board {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.tile {
	margin: 5px;
	width: 50px;
	height: 50px;
}

.row {
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: space-around;
}

.red {
	background-color: red;
}

.blue {
	background-color: lightblue;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

.pink {
	background-color: pink;
}

.yellow {
	background-color: yellow;
}

.gray {
	background-color: darkgray;
}

.brown {
	background-color: brown;
}

.white {
	background-color: white;
}

.selected {
	border: 5px solid black;
	margin: 0px;
}

.level_colors {
	display: flex;
	flex-flow: column nowrap;
	margin: 10px;
	text-align: center;
	align-content: space-between;
	font-size: 1.4em;
}

.level_colors button {
	font-size: 0.7em;
}

.game_row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

/* About Page */
.contact_links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	justify-self: center;
	align-self: center;
	margin-top: 2em;
}

.contact_links a {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.contact_links img {
	width: 70%;
	margin: 1em;
	justify-self: center;
}

.contact_links img:hover {
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
}

#photoOfMe {
	border-radius: 50%;
}

h1,
h2 {
	font-family: 'Notable';
}

p {
	font-family: 'Noto Sans';
}

#about_page {
	/* width: 90%; */
	display: flex;
	flex-flow: row wrap;
	border: 10px solid black;
	justify-content: center;
	text-align: center;
}

#above_the_fold {
	width: 100%;
	text-align: center;
	padding: 1em;
	margin: 1em;
	border: 10px solid #900000;
	background-color: #ffb09c;
}

#above_the_fold h1 {
	font-size: 4em;
	margin-top: 0;
}

#above_the_fold button {
	font-size: 1.5em;
}

#above_the_fold button:hover {
	background-color: #900000;
	color: white;
}

.about_row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}

.about_row h2 {
	font-size: 2em;
}

#rules {
	background-color: lightgreen;
	border: 10px solid darkgreen;
	padding: 1em;
	margin: 1em;
}

#ListOfMembers {
	display: flex;
	flex-flow: row nowrap;
	padding: 1em;
	margin: 1em;
	border: 10px solid darkblue;
	background-color: lightskyblue;
}

#ListOfMembers div {
	width: 50%;
}

#tech_used {
	padding: 1em;
	margin: 1em;
	border: 10px solid #ffa500;
	background-color: #ffe4b2;
	display: flex;
	flex-flow: column nowrap;
	height: 85%;
}

#shoutout {
	border: 10px solid plum;
	padding: 1em;
	margin: 1em;
	align-content: center;
	text-align: center;
	justify-content: center;
	width: 25%;
	height: 85%;
}

#preview {
	padding-left: 0.2em;
	padding-bottom: 0.4em;
	margin: 1em;
	border: 10px solid purple;
}

#preview iframe {
	width: 100%;
	height: 100%;
}


@media only screen and (max-width: 900px){
	.about_row {
		flex-wrap: wrap;
	}

	#shoutout {
		width: 100%;
		height: auto;
	}

	#tech_used {
		height: auto;
		flex-flow: row wrap;
		text-align: center;
		justify-content: center;
		align-content: center;
	}
	#preview {
		width: 100%;
	}

	#preview iframe {
		width: auto;
		height: auto;
	}

	.game_row {
		flex-flow: column nowrap;
	}

	.level_colors{
		flex-flow: row nowrap;
	}

	.level_colors h3 {
		margin: 0px 10px;
	}
}