@import url('https://fonts.googleapis.com/css2?family=Notable&family=Noto+Sans&display=swap');

/* Game */
.tile_board {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.tile {
	/* border: 2px solid yellow; */
	margin: 2px;
	width: 50px;
	height: 50px;
}

.row {
	/* border: 2px solid black; */
	/* width: 50px; */
	/* height: 50px; */
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: space-around;
}

.red {
	background-color: red;
}

.blue {
	background-color: lightblue;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

.pink {
	background-color: pink;
}

.yellow {
	background-color: yellow;
}

.gray {
	background-color: darkgray;
}

.brown {
	background-color: brown;
}

.white {
	background-color: white;
}

.selected {
	border: 3px solid black;
	margin: 0px;
}

/* About Page */
.contact_links {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	justify-self: center;
	align-self: center;
	margin-top: 2em;
}

.contact_links a {
	/* width: 50%; */
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.contact_links img {
	width: 50%;
	padding: 5px;
}

.contact_links img:hover {
	-webkit-box-shadow: 5px 5px 15px 5px #000000;
	box-shadow: 5px 5px 15px 5px #000000;
}

#photoOfMe {
	border-radius: 50%;
}

h1,
h2 {
	font-family: 'Notable';
}

p {
	font-family: 'Noto Sans';
}

#about_page {
	width: 90%;
	display: flex;
	flex-flow: row wrap;
	border: 10px solid black;
	justify-content: center;
	text-align: center;
	/* padding: 1em; */
}

#above_the_fold {
	width: 100%;
	text-align: center;
	padding: 1em;
	margin: 1em;
	border: 10px solid #900000;
	background-color: #ffb09c;
}

#above_the_fold h1 {
	font-size: 4em;
	margin-top: 0;
}

#above_the_fold button {
	font-size: 1.5em;
}

#above_the_fold button:hover {
	background-color: #900000;
	color: white;
}

#explainer {
	display: flex;
	flex-flow: row nowrap;
	padding: 1em;
	margin: 1em;
}

#rules{
	background-color: lightgreen;
	border: 10px solid darkgreen
}