.tile_board {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

.tile {
	/* border: 2px solid yellow; */
	margin: 2px;
	width: 50px;
	height: 50px;
}

.row {
	/* border: 2px solid black; */
	/* width: 50px; */
	/* height: 50px; */
	display: flex;
	flex-flow: column-reverse nowrap;
	justify-content: space-around;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.green {
	background-color: green;
}

.orange {
	background-color: orange;
}

.purple {
	background-color: purple;
}

.pink {
	background-color: pink;
}

.yellow {
	background-color: yellow;
}

.gray {
	background-color: darkgray;
}

.brown {
	background-color: brown;
}

.white {
	background-color: white;
}

.selected {
	border: 3px solid black;
	margin: 0px;
}
